<code>Ex - 1 is create jupyter notbook</code>

<code>Ex -2 is Create markdown cell with title of the notebook </code>

In [ ]:
# Code and syntax for markdown cell named Data Science Tools and Ecosystem is given below

# Data Science Tools and Ecosystem

<code>Ex-3 - Create a markdown cell for an introduction </code>

<code>Sentance is - "In this notebook, Data Science Tools and Ecosystem are summarized."</code>

In [ ]:
# Code and syntax for markdown cell for an introduction is given below

**In this notebook, Data Science Tools and Ecosystem are summarized.**

<code>Ex-4 - Create a markdown cell to list data science languages</code>

<code> Given Started line is - "Some of the popular languages that Data Scientists use are:" </code>

In [ ]:
# Code and syntax for Create a markdown cell to list data science languages is given below

* Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. Php
5. Java Script
6. Microsoft Visual Studio

<code>Ex-5 - Create a markdown cell to list data science libraries </code>

<code>Given Sentence -  "Some of the commonly used libraries used by Data Scientists include:" </code>

In [ ]:
# Code and syntax for Create a markdown cell to list data science libraries is given below

* Some of the commonly used libraries used by Data Scientists include:

In [ ]:
# for python

1. Pandas
2. numpy
3. matplotlib

In [ ]:
# for R

1. ggplot2
2. GGally
3. lattice

<code>Ex-6 - Create a markdown cell with a table of Data Science tools </code>

<code> Given Instructions are - ___Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.___ </code>

In [ ]:
# Code and syntax for Create a markdown cell with a table of Data Science tools is given below

|Data Science Tools|
|------------------|
|R Studio         |
|Github       |
|Jupyter Notebook  |
|Jupyter Lab |
|VS code - Visual studio code |

<code>Exercise 7 - Create a markdown cell introducing arithmetic expression examples</code>

<code> *_Given Instructions are_* -

</code> <code> Add a line in this cell with H3 style heading with text like:
Below are a few examples of evaluating arithmetic expressions in Python.</code>

In [ ]:
# Code and syntax for Create a markdown cell introducing arithmetic expression examples is given below

### Below are a few examples of evaluating arithmetic expressions in Python.

1. ( + ) - Addtion
2. ( - ) - Subtraction
3. ( * ) - Multiplication
4. ( / ) - Divition
5. ( % ) - Moduls

<code>Ex-8 - Create a code cell to multiply and add numbers</code>

<code> *_Given Instructions are_* -

<code>In this code cell evaluate the expression (3*4)+5.
Insert a comment line before the expression to explain the operation e.g. This a simple arithmetic expression to mutiply then add integers.
Then execute the cell to ensure the expression returns the expected output of 17. </code>

In [ ]:
# Code and syntax for Create a code cell to multiply and add numbers is given below

In [ ]:
# This a simple arithmetic expression to mutiply then add integers. 
# Then execute the cell to ensure the expression returns the expected output of 17.

In [7]:
( 3 * 4 ) + 5

17

<code>Ex-9 - Create a code cell to convert minutes to hours</code>

<code> *_Given Instructions are_* -

<code>In this code cell write an expression that converts 200 minutes into hours.
Insert a comment line before the expression to explain the operation e.g. This will convert 200 minutes to hours by diving by 60.
Run the cell to evaluate the expression. </code>

In [ ]:
# Code and syntax for Create a code cell to convert minutes to hours is given below

In [ ]:
# This will convert 200 minutes to hours by diving by 60.

In [10]:
200/60

3.3333333333333335

In [ ]:
# 3.3335 Hours

In [12]:
0.3333333333333335 * 60

20.000000000000007

In [ ]:
# 0.3335 hours multiply by 60 minutes

In [ ]:
# 3 hours and 20 minutes Approx

<code>Ex-10 - Insert a markdown cell to list Objectives</code>

<code> *_Given Instructions are_* -

<code>insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.</code>

In [ ]:
# Code and syntax for Insert a markdown cell to list Objectives is given below

**Objectives:**

* Make Predictions using Powerfool software
* Make Automate Decision makeing algorithms
* Clean and Divide the Structure and Un-Structure Data

<code>Ex-11 - Create a markdown cell to indicate the Author's name</code>

<code> *_Given Instructions are_* -

<code>In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.</code>

In [ ]:
# Code and syntax for Create a markdown cell to indicate the Author's name is given below

## Author

Omdevsinh Gohil